body > div {
    margin-top: 10px;
}

.btn {
    cursor: pointer;
    background-color: #53BDFF;
    border: 1px solid #4A6DD3;
    color: white;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding: 3px 5px 3px 5px;
}
.btn:hover {
    background-color: #4A42DE;
}
.btn-save {
    background-color: #32C31D;
    color: black;
}
.btn-save:hover {
    background-color: #238829;
}
.btn-undo {
    background-color: #FF3F22;
}
.btn-undo:hover {
    background-color: #FF1504;
}

#image-previews {
    max-height: 200px;
    overflow: auto;
    border: 4px solid #ccc;
    padding: 5px;
    display: none;
}
#image-previews img {
    border: 4px solid white;
}

#canvas-container:after {
    content: '';
    display: block;
    clear: both;
}
#canvas, #canvas-mask {
    border: 1px solid #ccc;
    float: left;
}
#canvas-mask {
    margin-left: 10px;
    /*background-color: #000;*/
}

#slider-container {
    text-align: right;
}
#slider {
    width: 40%;
}
#sliderval {
    width: 60px;
    margin-right: 5%;
}
