body > #masker > div {
    margin-top: 10px;
}

/* mask creator */
#masker {
    margin: 10px;
}

#image-previews {
    max-height: 200px;
    overflow: auto;
    border: 4px solid #ccc;
    padding: 5px;
    display: none;
}
#image-previews img {
    border: 4px solid white;
}

#canvas-container:after {
    content: '';
    display: block;
    clear: both;
}
#canvas, #canvas-mask {
    border: 1px solid #ccc;
    float: left;
}
#canvas-mask {
    margin-left: 10px;
    background-color: #000;
}

#slider-container {
    /*text-align: right;*/
    padding-left: 640px;
}
#slider {
    width: 40%;
}
#sliderval {
    width: 60px;
    margin-right: 5%;
}

/* labeler */
#labeler {
    margin: 10px;
}
.green {
    background-color: #55FC8D;
}

#labeler-header, #labeler-container {
    text-align: center;
}
#labcanvas {
    border: 1px solid #ccc;
}

#tabs {
    max-height: 300px;
    overflow: auto;
}

#tabs > div > span {
    display: inline-block;
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#masks {
    width: 300px;
    margin-top: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: inline-block;
    min-height: 480px;
}

#masks .mask {
    padding: 20px;
    border: 2px solid #ccc;
    cursor: pointer;
}
